<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true" >

        <activity android:name=".activities.StartActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/app_name_short"
            android:exported="false" />

        <activity android:name=".activities.APKExploreActivity"
            android:exported="false" />

        <activity android:name=".activities.APKInstallerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/split_apk_installer"
            tools:ignore="AppLinkUrlError"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/xapk-package-archive" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/vnd.apkm" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.APKSignActivity"
            android:exported="false" />

        <activity android:name=".activities.APKTasksActivity"
            android:exported="false" />

        <activity android:name=".activities.DocumentationActivity"
            android:exported="false" />

        <activity android:name=".activities.FilePickerActivity"
            android:exported="false" />

        <activity android:name=".activities.ImageViewActivity"
            android:exported="false" />

        <activity android:name=".activities.InstallerActivity"
            android:exported="false" />

        <activity android:name=".activities.InstallerFilePickerActivity"
            android:exported="false" />

        <activity android:name=".activities.SettingsActivity"
            android:exported="false" />

        <activity android:name=".activities.TextEditorActivity"
            android:exported="false" />

        <activity android:name=".activities.TextViewActivity"
            android:exported="false" />

        <service android:name=".services.InstallerService"
            android:exported="false" />
    </application>
</manifest>